aside {
  float: left;
  width: percentage(244px / 1190px);

  .side-nav {
    > li {
      .padded-left;
      padding-right: 25px;

      > a {
        display: block;
        padding-top: 2.08333333333333em;
        padding-bottom: 1.66666666666667em;

        font-size: 0.75em;
        line-height: 1.2;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.8px;

        border-top: 1px solid #eceeee;
      }
    }

    > li:hover,
    > li.active {
      background-color: @primary;

      > a {
        color: #ffffff;
        border: none;
      }
    }
  }
}

.aside-btn {
  position: absolute;
  bottom: 100%;
  left: 0;

  display: none;
  cursor: pointer;

  font-size: 0.8em;
  line-height: 2;
  font-weight: 800;
  text-transform: uppercase;
  color: @primary;
}

@media screen and (max-width: @aside-collapse) {
  aside {
    position: relative;
    width: 0;

    .side-nav {
      position: absolute;

      width: 200px;

      background-color: @base-bg;
      box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.4);
      transform: translateX(-1000px);
    }

    .side-nav.show {
      transform: translateX(0);
    }
  }

  .aside-btn {
    display: inline-block;
  }
}
