.wrapper-outter {
  background-image: url("../img/bg.jpg");
}

.wrapper-inner {
  .padded-right;
  background-color: @base-bg;
}

main {
  float: right;
  width: 78.655462184874%;
  margin-bottom: 4.032258064516%;
  padding: 0.420168067227%;

  background-color: @secondary-bg;
}

.content-block {
  padding: 0.01% 3.739316239316%;
  background-color: @base-bg;
}

.content-block-reverse {
  background-color: @secondary-bg;
}
