.page-footer {
  font-size: @footer-font-size;
  color: @footer-color;

  background: @footer-bg url("../img/footer-pattern.png") repeat;
}

.footer-nav {
  padding-top: 6.578947368421%;
  padding-bottom: 4.824561403509%;
  font-size: 0;

  section {
    position: relative;

    float: left;
    width: 18.245614035088%;
    margin-right: 1.754385964912%;
    padding-left: 5.438596491228%;

    font-size: @footer-font-size;
    line-height: @footer-line-height;

    .phone {
      font-family: @font-family-secondary;
      line-height: 1.84615384615385;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .list-title {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 2.30769230769231em;
    line-height: 1;
    font-weight: 800;
    color: #706f6f;

    @leading: @footer-font-size * @footer-line-height - @footer-font-size;
    @half-leading: @leading / 2;

    transform: rotate(-90deg) translateX(-100%) translateX(-@half-leading);
    transform-origin: left top;
  }

  .icon-link {
    position: relative;
    padding-left: 30px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";

      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
    }
  }
  .icon-link-email::before { background-image: url("../img/email.png"); }
  .icon-link-phone::before { background-image: url("../img/phone.png"); }
  .icon-link-instagram::before { background-image: url("../img/instagram.png"); }
  .icon-link-youtube::before { background-image: url("../img/youtube.png"); }
  .icon-link-search::before { background-image: url("../img/search.png"); }
}


.footer-copyright {
  padding: 2.631578947368% 0;

  font-family: @font-family-secondary;
  font-size: 0.84615384615385em;
  line-height: 2.18181818181818;
  text-transform: uppercase;

  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-company {
  float: left;
  width: 50%;
}

.footer-support {
  float: right;
  max-width: 50%;


  &::before {
    display: inline-block;
    width: 15px;
    height: 20px;
    margin-right: 3.18em;
    content: "";
    vertical-align: middle;

    background: url("../img/support-logo.png") no-repeat;
  }
}

@media screen and (max-width: @footer-md) {
  .page-footer {
    section {
      width: 23.6%;
      padding-left: 0;
      font-size: 11px;
    }

    .list-title {
      display: none;
    }

    .icon-link::before {
      .square(16px);
      background-size: contain;
    }
  }

  .footer-copyright {
    font-size: 9px;
  }
}

@media screen and (max-width: @footer-sm) {
  .page-footer {
    section {
      width: 45%;
      margin-bottom: 5%;
    }
  }
}
