body {
  margin: 0;
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color;
  background: @base-bg;
}

a {
  color: @link-color;
  text-decoration: none;
}


h1, h2 {
  margin: 1.3em 0;
  font-family: inherit;
  font-weight: 800;
  line-height: inherit;
  color: @heading-color;
}

h1 { font-size: @font-size-h1; }
h2 { font-size: @font-size-h2; }

p:not(:last-of-type) {
  margin: 0;
  margin-bottom: 2.25em;
}

.container {
  margin: 0 auto;
  padding: 0 4.95%;

  background-color: @base-bg;

  @media (min-width: @screen-sm) {
    width: @container-sm;
  }
  @media (min-width: @screen-md) {
    width: @container-md;
  }
  @media (min-width: @screen-lg) {
    width: @container-lg;
  }
}

.inline-list {
  margin: 0;
  list-style: none;

  > li {
    display: inline-block;
    margin-right: 4px;
  }
}
