.steps-list {
  .unstyled-list;
  .inline-list;

  display: flex;
  flex-wrap: wrap;

  margin-top: 5.196304849885%;

  counter-reset: _counter;
  font-size: 0;

  > li {
    display: block;
    flex-grow: 1;

    max-width: 298px;
    min-width: 266px;
    margin-right: 0;
    margin-bottom: percentage(32px / 868px);
  }
}

.steps-item-inner {
  position: relative;
  .square(6em);

  font-size: @font-size-base;
  border: 5px solid @primary;

  > span {
    position: absolute;
    top: 27.083333333333%;
    left: 54.166666666667%;
    z-index: 50;

    width: 214.583333333333%;
  }


  &::after {
    counter-increment: _counter;
    content: counter(_counter);

    position: absolute;
    top: 18.75%;
    left: 26.041666666667%;

    padding-right: 0.5em;
    padding-bottom: 0.5em;

    font-size: 6.25em;
    line-height: 0.5;
    font-weight: 800;

    color: #e8e8e8;
    background-color: @secondary-bg;
  }
}

@media screen and (max-width: @steps-list-md) {
  .steps-list > li {
    // margin-bottom: 30%;
  }
}
