// Colors

@gray: #4b4b4b;
@gray-dark: #2c2c2b;
@gray-light: #f6f6f6;

@primary: #e33321;

@base-bg: #fff;
@secondary-bg: @gray-light;



// Typography

@font-family-base: "Raleway", Helvetica, Arial, sans-serif;
@font-family-secondary: "Roboto", Helvetica, Arial, sans-serif;
@font-size-base: 16px;

@font-size-h1: floor((@font-size-base * 2.5)); //40px
@font-size-h2: floor((@font-size-base * 1.5)); //24px

@line-height-base: 1.75;

@text-color: @gray;
@heading-color: @gray-dark;
@link-color: inherit;


// Buttons

@btn-color: #fff;
@btn-bg: @primary;
@btn-height: 55px;
@btn-padding: 55px;


// Forms

@input-color: #4c4b4a;
@input-bg: @gray-light;


// Media queries breakpoints

@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1300px;


// Container sizes

@container-sm: 720px;
@container-md: 940px;
@container-lg: 1240px;


// Paddings
@side-padding-sm: 29px;
@side-padding-md: 38px;
@side-padding-lg: 50px;


// Header

@header-height: 100px;
@header-color: #4c4b4a;
// Navbar


@nav-bg: #ffffff;
@nav-border: @primary;

@nav-link-color: #4c4b4a;
@nav-link-hover-color: @primary;
@nav-active-link-hover: @primary;

//
// //== Modals
// //
// //##
//
// //** Padding applied to the modal body
// @modal-inner-padding:         15px;
//
// //** Padding applied to the modal title
// @modal-title-padding:         15px;
// //** Modal title line-height
// @modal-title-line-height:     @line-height-base;
//
// //** Background color of modal content area
// @modal-content-bg:                             #fff;
// //** Modal content border color
// @modal-content-border-color:                   rgba(0,0,0,.2);
// //** Modal content border color **for IE8**
// @modal-content-fallback-border-color:          #999;
//
// //** Modal backdrop background color
// @modal-backdrop-bg:           #000;
// //** Modal backdrop opacity
// @modal-backdrop-opacity:      .5;
// //** Modal header border color
// @modal-header-border-color:   #e5e5e5;
// //** Modal footer border color
// @modal-footer-border-color:   @modal-header-border-color;
//
// @modal-lg:                    900px;
// @modal-md:                    600px;
// @modal-sm:                    300px;

// Breadcrumbs

@breadcrumb-padding: 8px;
@breadcrumb-color: #454545;
@breadcrumb-bg: @gray-light;
@breadcrumb-separator: "/";
@breadcrumb-separator-color: #b7b6b6;


// Footer
@footer-font-size: 0.8125 * @font-size-base;
@footer-line-height: 2.3;
@footer-color: #ffffff;
@footer-bg: @gray;
